<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherForecast"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true" /> <!-- 设置 LoginActivity 为可导出 -->
        <activity
            android:name=".TipsActivity"
            android:exported="false" /> <!-- 设置 TipsActivity 为不可导出 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- 设置 MainActivity 为可导出 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>


